
.itemCheckbox {
    margin-right: 4px !important;
}

.itemRemoveIcon {
    font-weight:bold;
    color:red;
    margin-left:2px;    
}

.itemRemoveIcon:hover {
	cursor: -webkit-grab;
	cursor: grab;
}

body {
    position: relative;
    left: 30px;
}
