<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shopping List</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1 id="bigTitle"></h1>
    <form name="user">
      <label>User:</label>
      <input type="text" name="user" value="" />
      <input type="submit" value="Submit" />
    </form>
    <ul id="itemList"></ul>
    <input type="text" id="newItemInput" />
    <button id="addButton" type="button">Add</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
  </body>
</html>
